.search-box select {
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid #00d2ff;
  padding: 15px;
  border-radius: 50px;
  color: white;
  outline: none;
}

.search-box select option {
  background: #090a0f;
}

::ng-deep .error-msg {
  color: #ff4b2b;
  grid-column: 1 / -1;
  text-align: center;
  font-weight: bold;
}

/* Reutilizamos los mismos estilos de glass-card que ya tienes en el buscador */
::ng-deep .glass-card {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(0, 210, 255, 0.2);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 350px;
    transition: 0.4s;
}

::ng-deep .img-mini { width: 100%; height: 160px; overflow: hidden; }
::ng-deep .img-mini img { width: 100%; height: 100%; object-fit: cover; }
::ng-deep .card-content { padding: 15px; text-align: left; }
::ng-deep .card-content h3 { color: #00d2ff; font-size: 1rem; }